<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if user}}
Welcome {{user.username}}
<form action="/logout" method="POST">
<button type="submit"> Logout </button>
</form>
<a href="/main"> Main </a>
<a href="/private"> Private </a>
{{else}}
<a href="/signup"> Sign-up </a>
<a href="/login"> Login </a>
{{/if}}